@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes electronAnimation {
  0% {
    transform: rotateZ(0deg) translateX(200px) rotateZ(-0deg) rotateY(-65deg); /* Adjusted translateX value */
  }
  100% {
    transform: rotateZ(360deg) translateX(200px) rotateZ(-360deg) rotateY(-65deg); /* Adjusted translateX value */
  }
}

.orbit {
  transform-style: preserve-3d;
}

.orbit:nth-child(3) {
  transform: rotateY(65deg) rotateX(5deg);
  animation-delay: 0.4s;
}

.orbit:nth-child(4) {
  transform: rotateY(65deg) rotateX(-54deg);
  animation-delay: 0.1s;
  animation-duration: 1.5s;
}

.orbit:nth-child(2) {
  transform: rotateY(65deg) rotateX(54deg);
  animation-delay: 0.2s;
}

.electron {
 
  animation: electronAnimation 2s infinite linear;
 
}

.orbit:nth-child(4) .electron {
  animation-delay: -1s;
}

.orbit:nth-child(2) .electron {
  animation-delay: -0.5s;
}

.orbit:nth-child(3) .electron {
  animation-delay: -0.25s;
}
